body{
    background: #0b0b0b;
    color: white;
    font-family: Arial, sans-serif;
}

.tracklist-section{
    padding: 60px 10%;
}

.tracklist-section h2{
    letter-spacing: 3px;
    margin-bottom: 30px;
}